[class^="icon-"],
[class*=" icon-"] {
  background-image: url("/assets/glyphicons-halflings.png");
}
.icon-white {
  background-image: url("/assets/glyphicons-halflings-white.png");
}

.navbar-inner {
	border-radius: 0;
}

.navbar .container {
	width: 940px;
}

ul.details {
	list-style-type: none;
}

ul.details li {
	line-height: 24px;
}

.icon-linkedin {
	background-image: url(/assets/linkedin_alt.png);
	background-position: 0 0;
}
